#content section{
	min-height: inherit;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.65);
	-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.3); box-shadow: 0 -1px 0 rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.3);
	background-image: url("../img/bg1.jpg");
	background-size: cover;
	color: #d9d6d5;
}

#content section:nth-child(3n+2){
	min-height: inherit;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.65);
	-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.3); box-shadow: 0 -1px 0 rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.3);
	background-image: url("../img/bg2.jpg");
	background-size: cover;
	color: #25201e;
}

#content section:nth-child(3n+3){
	min-height: inherit;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.65);
	-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.3); box-shadow: 0 -1px 0 rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.3);
	background-image: url("../img/bg1.jpg");
	background-size: cover;
	color: #25201e;
}

#content section#section-4{
	min-height: inherit;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.65);
	-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.3); box-shadow: 0 -1px 0 rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.3);
	background-image: url("../img/bg1.jpg");
	background-size: cover;
	color: #25201e;
}

.tengah{margin-top:75px;}

.rad{
	width: 100%;
	margin: 0;
	padding-right: 0;
	border-radius: 20px;
	background:  rgba(122, 220, 195, 0.75);
}

.radcol{
	width: auto;
	margin: 0px;
	padding: 20px;
	border-radius: 20px;
	background: rgba(122, 195, 195, 0.75);
}

.blue{
	color: #08356a;
	align-content: center;
}

.wadah-mengetik
{	font-size: 48px;
	width: inherit;
	white-space:nowrap;
	overflow:hidden;
	-webkit-animation: ketik 5s steps(50, end);
	animation: ketik 5s steps(50, end);
}

@keyframes ketik{
		from { width: 0; }
}

@-webkit-keyframes ketik{
		from { width: 0; }
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@charset "utf-8";
login{
	background: #F2F2F2;
	font-family: sans-serif;
}

.login-form{
	width: 335px;
	background: #2F495A;
	margin: 100px auto;
	padding: 10px 20px 50px 20px;
	border-radius: 5px;
	box-shadow: 0px 10px 20px 0px #D1D1D1;
}

.email{
	width: 300px;
	margin: 5px;
	border: none;
	font-size: 16pt;
	border-radius: 5px;
	padding: 10px;
}

.pass{
	font-size: 16pt;
	border: none;
	width: 215px;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}

.tombol{
	background: #EC5159;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: #eee;
	font-size: 15pt;
	border-bottom:4px solid #BF3D3D;
}

.brand{
	color: #eee;
	font-size: 11pt;
	float: right;
	text-decoration: none;
	margin: 12px;
}

.judul{
	text-align: center;
	color: #eee;
	font-weight: normal;
}
